body{
    background-color:burlywood;
}
#heading_div{
    font-family:'Courier New', Courier, monospace;
}
.img-responsive{
    width: 50%;
    height:50%;
}
.test_image_and_result{
    background-color: azure;
    border-radius:25px;
}
#result{
    font-weight:bolder;
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    border-radius:10px;
    border-width:10px;
    border-color:red;
}